.ui {
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(../../assets/image/ui-lg-bg.svg);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  .container {
    .ui_right {
      margin: 0 auto;
      max-width: 445px;
      width: 100%;
      &_title {
        color: #36536b;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 116.667% */
        letter-spacing: -0.369px;
        text-align: center;
      }
      &_info {
        color: #6c8294;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        text-align: center;
      }
    }
    .ui_cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      .card_1 {
        width: 350px;
        height: 300px;
        margin-top: 40px;
        padding: 20px;
        &_title {
          margin-top: 30px;
          color: #36536b;
          text-align: center;
          font-family: Public Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 25px; /* 138.889% */
          letter-spacing: -0.138px;
        }
        &_info {
          color: #6c8294;
          text-align: center;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; /* 166.667% */
          letter-spacing: -0.115px;
        }
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
    .ready {
      color: #36536b;
      text-align: center;
      font-family: DM Serif Display;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px; /* 116.667% */
      letter-spacing: -0.369px;
      margin-top: 100px;
    }
    form {
      position: relative;
      max-width: 445px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 100px;
      input {
        color: #36536b;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 24px;
        background: #fbfcfe;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        outline-color: rgba(97, 97, 211, 0.749);
        border: none;
        max-width: 446px;
        width: 100%;
        padding: 16px 27px 14px;
      }
      .form_btn {
        color: #fbfcfe;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
        border-radius: 24px;
        background: #ba4270;
        width: 173px;
        height: 48px;
        flex-shrink: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 791px) {
  .ui {
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(../../assets/image/ui-lg-bg.svg);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .container {
      .ui_right {
        margin: 0 auto;
        max-width: 445px;
        width: 100%;
        &_title {
          color: #36536b;
          font-family: DM Serif Display;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px; /* 116.667% */
          letter-spacing: -0.369px;
          text-align: center;
        }
        &_info {
          color: #6c8294;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 186.667% */
          text-align: center;
        }
      }
      .ui_cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        .card_1 {
          width: 350px;
          height: 300px;
          margin-top: 40px;
          padding: 20px;
          &_title {
            margin-top: 30px;
            color: #36536b;
            text-align: center;
            font-family: Public Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px; /* 138.889% */
            letter-spacing: -0.138px;
          }
          &_info {
            color: #6c8294;
            text-align: center;
            font-family: Public Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
            letter-spacing: -0.115px;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      form {
        position: relative;
        max-width: 445px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;

        input {
          color: #36536b;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border-radius: 24px;
          background: #fbfcfe;
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          outline-color: rgba(97, 97, 211, 0.749);
          border: none;
          max-width: 446px;
          width: 100%;
          padding: 16px 27px 14px;
        }
        .form_btn {
          color: #fbfcfe;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.115px;
          border-radius: 24px;
          background: #ba4270;
          width: 173px;
          height: 48px;
          flex-shrink: 0;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 484px) {
  .ui {
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(../../assets/image/ui-lg-bg.svg);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .container {
      .ui_right {
        margin: 0 auto;
        max-width: 445px;
        width: 100%;
        &_title {
          color: #36536b;
          font-family: DM Serif Display;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px; /* 116.667% */
          letter-spacing: -0.369px;
          text-align: center;
        }
        &_info {
          color: #6c8294;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 186.667% */
          text-align: center;
        }
      }
      .ui_cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        .card_1 {
          width: 350px;
          height: 300px;
          margin-top: 40px;
          padding: 20px;
          &_title {
            margin-top: 30px;
            color: #36536b;
            text-align: center;
            font-family: Public Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px; /* 138.889% */
            letter-spacing: -0.138px;
          }
          &_info {
            color: #6c8294;
            text-align: center;
            font-family: Public Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
            letter-spacing: -0.115px;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      form {
        position: relative;
        max-width: 327px;
        width: 100%;
        margin: 0 auto;
        height: 70px;
        margin-bottom: 100px;
        input {
          color: #36536b;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border-radius: 24px;
          background: #fbfcfe;
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          outline-color: rgba(97, 97, 211, 0.749);
          border: none;
          max-width: 446px;
          width: 100%;
          padding: 16px 27px 14px;
        }
        .form_btn {
          color: #fbfcfe;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.115px;
          border-radius: 24px;
          background: #ba4270;
          max-width: 327px;
          height: 48px;
          flex-shrink: 0;
          position: absolute;
          top: 100%;
          width: 100%;
        }
      }
    }
  }
}
